*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.navbar_menu{
    display: flex;
}
.menu{
    list-style-type:none;
    margin-left:100px;
    padding:0px;
    float:left;
    height: auto;
    width: 1920px;
}
.menu > li{
    float: left;
    display:inline;   
}
.menu > li a{
    text-decoration:none;
    font-family:sans-serif;
    color:black;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    background-color: none;
}
.menu > li a:hover{
    background-color:#7F2DF1;
    color: white;
    border-radius:20px;
}
.logo{
    list-style-type: none;
    margin-left: 100px;
    padding: 0;
    float: left;
}
.logo > li{
    float: left;
    display: inline;
}
.logo > li a{ 
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
    display: inline-block;
    padding: 5px 10px ;
    margin: 10px;
    background-color: none;
}
/****************container**************/
.container{
    display: flex;
    flex-flow: row wrap;
}
/*************first container**********************************/
.flex-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 30px;
    height: 500px;
    width: 45%;
    background-color:none;
}
.block_1{
    background-color: none;
    height:auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
.block_1{
    float: left;
    width: 500px;
    padding-left: 30px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.block_1 > h1{
    font-size: 50px;
    text-align: left;
}
.block_1 > p{
    font-size: 20px;
    text-align: left;
}
/************************batton block_1*************/
.p_1{
    float: left;
    display: inline;
}
.p_1 a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
    display: inline-block;
    padding: 15px 50px;
    background-color: #7F2DF1;
    border-radius: 15px;
    font-size: 15px;
} 
.p_1 a:hover{
    background-color: white;
    color:#7F2DF1;
    border: #7F2DF1 3px solid;
    padding: 12px 47px;
}
/**************second container*******************/
.flex-container2{
    display: flex;
    justify-content:flex-end;
    align-items:center; 
    margin-top: 30px;
    margin-left:30px ;
    margin-bottom: 30px;
    margin-right: 0;
    height: auto;
    width: 45%;
    background-color:none;    
}
.block_2{
    background-color:none;
    height:auto;
    margin-top: 30px;
    text-align: right;
    font-size: 30px;
    margin-bottom: 30px;    
}
.block_2{
    float: right;
    width: auto ;
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.img_fb2{
    width:60%;
}
/***************three container**********/
.flex-container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    background-color:none;
}
.block_3{
    background-color:none;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.block_3{
    width:auto;
    padding-left:30px ;
    padding-right:30px ;
    font-family: 'Roboto', sans-serif;  
}
.block_3 > h1{
    font-size: 40px;    
}
.block_3 > p{
    font-size: 20px;
}
/*****************four container*******************/
.flex-container4{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:30px ;
    height: 500px ;
    width: 45% ;
    background-color: none;
}
.block_4{
    background-color: none;
    height:auto;
    margin-top: 90px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 90px;
}
.block_4{
    float: left;
    width: 500px;
    padding-left: 30px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.block_4 > h1{
    font-size: 50px;
    text-align: left;
}
.block_4 > p{
    font-size: 20px;
    text-align: left;
}
/*********************fife container***********************************/
.flex-container5{
    display: flex;
    justify-content:center;
    align-items:center; 
    margin-top: 30px;
    margin-left:30px ;
    margin-bottom: 30px;
    margin-right: 0;
    height: auto;
    width: 45% ;
    background-color:none;    
}
.block_5{
    background-color: none;
    height:auto;
    margin-top: 30px;
    text-align: right;
    font-size: 30px;
    margin-bottom: 30px;    
}
.block_5{
    float: right;
    width: auto;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.img_fb5{
    width: 70%;
}
/********six container***********************/
.flex-container6{
    display: flex;
    justify-content:center;
    align-items:center; 
    margin-top: 30px;
    margin-left: 30px ;
    margin-bottom: 30px;
    margin-right: 30px;
    height: auto;
    width: 45% ;
    background-color:none;    
}
.block_6{
    background-color: none;
    height:auto;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;    
}
.block_6{
    width: auto;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.img_fb6{
    width:65%;
}
/**********************seven container************************/
.flex-container7{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:30px ;
    height:500px ;
    width: 45%  ;
    background-color: none;
}
.block_7{
    background-color: none;
    height:auto;
    margin-top: 90px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 90px;
}
.block_7{
    float: left ;
    width: 500px;
    padding-left: 20px;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
}
.block_7 > h1{
    font-size: 50px;
    text-align: center;
}
.block_7 > p{
    font-size: 20px;
    text-align: center;
}
/****************eight container********************/
.flex-container8{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:30px ;
    height: 500px ;
    width:45% ;
    background-color:none;
}
.block_8{
    background-color: none;
    height:auto;
    margin-top: 90px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 90px;
}
.block_8{
    float: left;
    width: 500px;
    padding-left: 30px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.block_8 > h1{
    font-size: 50px;
    text-align: left;
}
.block_8 > p{
    font-size: 20px;
    text-align: left;
}
/************nineth container*******************/
.flex-container9{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px ;
    margin-bottom:30px ;
    margin-left:30px ;
    margin-right:30px ;
    width: 45% ;
    height: auto;
    background-color: none;
}
.block_9{
    background-color: none;
    height:auto;
    margin-top: 30px;
    text-align: right;
    font-size: 30px;
    margin-bottom: 30px;
    border-radius: 10px;    
}
.block_9{
    float: right;
    width: auto;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.img_fb9{
    width:70%;
}
/************************bottom flex***********************/
.flex-container-bottom{
    display:flex;
    justify-content:center;
    align-items: flex-start;
    margin-top:30px ;
    margin-bottom:30px ;
    height: 660px;
    width: 100%;
    background-image:url(img/bottom_img.png) ;
    background-repeat: no-repeat;
    background-position: center center; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
.block_bottom{
    background-color: none;
    height: auto;
    margin-top:30px ;
    margin-bottom:30px ;
    text-align: center;
}
.block_bottom{
    width: 650px;
    padding-left:30px ;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.block_bottom > h1{
    font-size: 45px;
    text-align: center;
    color: white;
}
.block_bottom > p{
    font-size: 20px;
    text-align: center;
    color: white;
}
/*********************bottom botton block**********************/
.img_botton{
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: black 3px solid;
}
/*********************footer*********************************/
.flex-container-footer{
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin:30px ;
    height: auto;
    width: 45% ;
    background-color: none;
}
.block_footer1{
    background-color: none;
    height: auto;
    margin-top:20px ;
    margin-left: 110px;
}
.block_footer1{
    width: 500px;
    padding-left:30px ;
    padding-right:20px ;
    font-family: 'Roboto', sans-serif ;
}
.block_footer1 > h1{
    font-size: 33px;
    text-align: left;
}
.flex-container-footer2{
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin:30px ;
    height: 500px;
    width: 850px ;
    background-color:none;   
}
.block_footer2{
    background-color:none;
    height: auto;
    margin: 30px;
    text-align: left;
}
.block_footer2{
    width: 50%;
    padding-left:30px ;
    padding-right:20px ;
    font-family: 'Roboto', sans-serif ;
}
/***********************column********************************/
.column{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.title{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
.column > li a{
    text-decoration: none;
    font-family:'Roboto', sans-serif ;
    color: black;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: none;
    font-size:16px ;
}
.column > li a:hover{
    color: white;
    background-color:#7F2DF1 ;
    border-radius: 15px;
} 
/***************bottom footer*****************/
.bottom-footer{
     display: flex;
     justify-content:space-around; 
     align-items:center; 
     width: 100%;
     height: auto; 
     margin-left: 30px; 
     margin-right: 30px;  
     background-color:none; 
}
.bf1{
     background-color:none; 
     height: auto; 
     text-align: center; 
     margin-left: 100px; 
     width: 120px; 
     font-family: 'Roboto', sans-serif; 
} 
.bf1 > p{
     font-size: 14px; 
     text-align: center; 
} 
.bf2{ 
    background-color: none; 
    height: auto; 
    text-align: center; 
    margin-left: 150px; 
    width: 300px; 
    font-family: 'Roboto', sans-serif;
} 
.bf2 > p{  
    font-size: 14px; 
    text-align: center; 
}
.footer-img {
    display: flex;
    justify-content:flex-end;
    align-items: center; 
    height: 50px; 
    margin-left: 450px; 
    margin-right: 20px; 
    width: 400px; 
    background-color: none;
} 
.icon_img{
    width: 50px; 
    margin-right: 40px; 
}

@media (max-width:1800px) {
.flex-container{
    width: 45%;
}
.flex-container2{
    width: 45%;
}
.flex-container4{
    width: 45%;    
}
.flex-container5{
    width: 45%;    
}
.flex-container6{
    width: 45%;    
}
.flex-container7{
    width: 45%;    
}
.flex-container8{
    width: 45%;    
}
.flex-container9{
    width: 45%;    
}
.flex-container-footer2{
    width: 45%;
}   
.flex-container-footer{
    width: 45%;
}
.footer-img{
    margin-left: 330px;
}
}
@media (max-width:1540px){
.flex-container{
    width: 90%;
    justify-content: flex-start;
}
.flex-container2{
    width: 90%;
    justify-content: flex-end;
}
.flex-container4{
    width: 90%;    
}
.flex-container5{
    width: 90%;    
}
.flex-container6{
    width: 90%;    
}
.flex-container7{
    width: 90%;    
}
.flex-container8{
    width: 90%;    
}
.flex-container9{
    width: 90%;    
}
.flex-container-footer2{
    width: 90%;
}
.flex-container-footer{
    width: 90%;
}
.img_fb2{
    width: 60%;
}
.icon_img{
    margin-right: 30px;
}
.footer-img{
    margin-left: 70px;
}

}
@media (max-width:940px){
.flex-container{
    width: 100%;
    justify-content: center;
}
.flex-container2{
    width: 100%;
    justify-content: center;
}
.flex-container4{
    width: 100%;
    justify-content: center;        
}
.flex-container5{
    width: 100%;
    justify-content: center;       
}
.flex-container6{
    width: 100%;
    justify-content: center;        
}
.flex-container7{
    width: 100%;
    justify-content: center;       
}
.flex-container8{
    width: 100%;
    justify-content: center;     
}
.flex-container9{
    width: 100%;
    justify-content: center;        
}
.flex-container-footer2{
    width: 100%;
    justify-content: center;
}
.flex-container-footer{
    width: 100%;
    justify-content: center;
}
.img_fb2{
    width: 50%;
}
.footer-img{
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
}
.bf1{
    margin-left:10px ;
}
.bf2{
    margin-left:10px ;
}
.icon_img{
    width: 25px;
    margin-right: 20px;
}
}